* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    height: 100%;
}

body{
    min-height: fit-content;
    line-height: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 150%;
}