* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: maroon;
    color: white;
}

nav {
    font-weight: bolder;
    display: contents;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero{
    background-image: url("../Images/Cover_Image.png");
    display: inline-block;
}

p {
    background-color: rosybrown;
    width: max-content;
    display: flex;
    justify-content: flex-end;
    float: right;
}

footer {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5px;
    background-color: rosybrown;
    color: white;
}

.fa {
    display: flex;
    justify-content: space-between;
    padding: 0.5px;
    font-size: 100%;
    align-items: center;
  }